
<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<header th:replace="common/header :: common-header" />

<body>
    <div th:replace="common/header :: navbar" />

    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                <div class="panel panel-default">
                    <div class="panel-heading"></div>
                    <div class="panel-body">
                        <!-- carousel -->
                        <div class="carousel slide" data-ride="carousel" id="carousel-example-generic">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li class="active" data-slide-to="0" data-target="#carousel-example-generic"></li>
                                <li data-slide-to="1" data-target="#carousel-example-generic"></li>
                                <li data-slide-to="2" data-target="#carousel-example-generic"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img alt="..." class="img-crop"
                                         src="https://images.unsplash.com/photo-1557626204-59dd03fd2d31?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80">
                                    <div class="carousel-caption">
                                        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.</h4>
                                        <p>It is a long established fact that a reader will be distracted by the
                                            readable content of a page when looking at its layout.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <img alt="..." class="img-crop"
                                         src="https://images.unsplash.com/photo-1557633758-b4834d3e7f90?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80">
                                    <div class="carousel-caption">
                                        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.</h4>
                                        <p>It is a long established fact that a reader will be distracted by the
                                            readable content of a page when looking at its layout.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <img alt="..." class="img-crop"
                                         src="https://images.unsplash.com/photo-1557652646-c4efca50f2de?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80">
                                    <div class="carousel-caption">
                                        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.</h4>
                                        <p>It is a long established fact that a reader will be distracted by the
                                            readable content of a page when looking at its layout.</p>
                                    </div>
                                </div>
                                ...
                            </div>

                            <!-- Controls -->
                            <a class="left carousel-control" data-slide="prev" href="#carousel-example-generic"
                               role="button">
                                <span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" data-slide="next" href="#carousel-example-generic"
                               role="button">
                                <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <img class="img-responsive" src="/image/logo.png"/>
            </div>
        </div>
        <hr/>

        <div class="row">
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="/image/bestseller.png" class="img-responsive"/>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="/image/faq.png" class="img-responsive"/>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="/image/hours.png" class="img-responsive"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="home-headline">
            <span>Featured Books</span>
        </div>

        <hr style="margin-top: -15px;"/>

        <div class="row">
            <!-- carousel -->
            <div class="carousel slide" data-ride="carousel" id="carousel-example-generic2">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li class="active" data-slide-to="0" data-target="#carousel-example-generic2"></li>
                    <li data-slide-to="1" data-target="#carousel-example-generic2"></li>
                    <li data-slide-to="2" data-target="#carousel-example-generic2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img class="img-responsive" src="/image/shelf.png"/>
                        <div class="carousel-caption">
                            <div class="row">
                                <div class="col-xs-2"><img class="img-responsive" src="/image/book1.png"/></div>
                                <div class="col-xs-2"><img class="img-responsive" src="/image/book1.png"/></div>
                                <div class="col-xs-2"><img class="img-responsive" src="/image/book1.png"/></div>
                                <div class="col-xs-2"><img class="img-responsive" src="/image/book1.png"/></div>
                                <div class="col-xs-2"><img class="img-responsive" src="/image/book1.png"/></div>
                                <div class="col-xs-2"><img class="img-responsive" src="/image/book1.png"/></div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img class="img-responsive" src="/image/shelf.png"/>
                        <div class="carousel-caption">
                            <div class="row">
                                <div class="col-xs-2"><img class="img-responsive" src="/image/book1.png"/></div>
                                <div class="col-xs-2"><img class="img-responsive" src="/image/book1.png"/></div>
                                <div class="col-xs-2"><img class="img-responsive" src="/image/book1.png"/></div>
                                <div class="col-xs-2"><img class="img-responsive" src="/image/book1.png"/></div>
                                <div class="col-xs-2"><img class="img-responsive" src="/image/book1.png"/></div>
                                <div class="col-xs-2"><img class="img-responsive" src="/image/book1.png"/></div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img class="img-responsive" src="/image/shelf.png"/>
                        <div class="carousel-caption">
                            <div class="row">
                                <div class="col-xs-2"><img class="img-responsive" src="/image/book1.png"/></div>
                                <div class="col-xs-2"><img class="img-responsive" src="/image/book1.png"/></div>
                                <div class="col-xs-2"><img class="img-responsive" src="/image/book1.png"/></div>
                                <div class="col-xs-2"><img class="img-responsive" src="/image/book1.png"/></div>
                                <div class="col-xs-2"><img class="img-responsive" src="/image/book1.png"/></div>
                                <div class="col-xs-2"><img class="img-responsive" src="/image/book1.png"/></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" data-slide="prev" href="#carousel-example-generic2"
                   role="button">
                    <span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" data-slide="next" href="#carousel-example-generic2"
                   role="button">
                    <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div> <!-- end of container -->




<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>
